---
layout: default  # Inherits your base template
title: "Blog Post"
---
<style>
  .container a {
    color: #ff014f;
    text-decoration: underline;
  }

  .container a:hover {
    color: #fff;
    text-decoration: underline; /* Keep underline on hover if desired, or remove for no underline */
  }
</style>
        <!-- Start News Area -->
        <div class="rn-blog-area rn-section-gap" id="blog">
            <div class="container">
                <div class="row g-5">
                  {{ content }}
                </div>
            </div>
        </div>
        <!-- ENd Mews Area -->

        <!-- Back to  top Start -->
        <div class="backto-top">
            <div>
                <i data-feather="arrow-up"></i>
            </div>
        </div>
        <!-- Back to top end -->
